@page
@model PhuongLHK.Asm2.Web.Pages.Products.ShoppingModel
@{
    ViewData["Title"] = "Shopping";
}
<section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model.Product)
            {
                <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                        @{
                            var base64Image = Convert.ToBase64String(item.ProductImage);
                            var imgSrc = string.Format("data:image/jpeg;base64,{0}", base64Image);
                        }
                         <img class="card-img-top" src="@imgSrc" alt="Product Image" style="max-width: 100%" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                            <h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                                        <!-- Product price-->
                                        @string.Format("{0:#,#}", item.UnitPrice)
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a asp-page="/Orders/Create" asp-route-id="@item.ProductId" class="btn btn-outline-dark mt-auto">Order</a></div>
                                </div>
                            </div>
                        </div>
            }
                </div>
            </div>
        </section>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>